body{
  font-family: sans-serif ;
  padding: 64px, 72px, 64px, 72px;
}

.hamburger-desktop {
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5%;
  height: 50px;
  transform: rotate(180deg);
}
.hamburger-movil {
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  height: 50px;
  transform: rotate(180deg);
}

.bar-short {
  width: 50%;
  height: 5px;
  border-radius: 5px;
  background-color: black;
  transition: all 0.3s ease;
}

.bar-long {
  width: 70%;
  height: 5px;
  border-radius: 5px;
  background-color: black;
  transition: all 0.3s ease;
}


@tailwind base;
@tailwind components;
@tailwind utilities;